* {
    padding : 0;
    margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
    padding: 15px;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    color: white;
    list-style-type: none;
}
.nav-links li {
    margin-left: 20px;
}
.nav-links li a {
    text-decoration: none;
    color: black;
    padding: 5px;
    transition: background-color 0.9s;
    border-radius: 20px;
}
.nav-links li a:hover {
    background-color: black;
    color: white;
    
}

